svg.boardchart {
    background-color: #f8f8f8;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.field{
    fill: lightsteelblue;
    stroke: darkgray;
    stroke-width: 1px;
}

.field_high{
    fill: steelblue;
}

.solid{
    stroke: black;
    opacity: 1.0;
}

.dashed{
    stroke: black;
    stroke-dasharray: 5,8;
    stroke-width: 1px;
    opacity: 0.5;
}

.title{
    font-size: 18pt;
    color: lightgray;
}

.org{

}

.dest{

}

.robot{
    opacity: 0.8;
    -webkit-filter: drop-shadow( 30px 30px 20px rgba(0, 0, 0, .7));
    filter: drop-shadow( 30px 30px 20px rgba(0, 0, 0, .7));
}

.robot_shelved{
    opacity: 0.4;
}


.robot_active{
    opacity: 1.0;
}

@keyframes hideshow {
    0% { opacity: 0.1; }
   15% { opacity: 1; }
   30% { opacity: 0.2; }
   90% { opacity: 1; }
  100% { opacity: 0.1; }
}


.robot_conflict {
    animation: hideshow 2s ease infinite;
}

.aura{
    opacity: 0.3;
    stroke-dasharray: 5,8;
    stroke-width: 5px;
}

.header {
    background-color: #eeeeee;
}

.label {
    color: #000;
    background-color: #ffffff;
    padding: 8px;
    margin: 10px;
}

.body {
    background-color: #f8f8f8;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 200px [col] auto [col] auto [col] 350px ;
    grid-template-rows: repeat(4, [row] auto  );
    background-color: #fff;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.box {
    background-color: cornflowerblue;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }

.box_button {
    background-color: #0a267c;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    font-size: 1.5em;
  }

.level {
    grid-column: col 1 ;
    grid-row: row 1;
    font-size: 20pt;
    padding:8px;
    color: #eeb1b1;
    line-height: 2em;
  }
.steps {
    grid-column: col 1 ;
    grid-row: row 2;
    font-size: 70pt;
    line-height: 1em;
  }
.controls {
    grid-column: col 1 / span 2;
    grid-row: row 3 ;
  }
.status {
    grid-column: col 2  ;
    grid-row: row 1  / span 2;
  }
.teaser {
    grid-column: col 3;
    grid-row: row 1 / span 3;
  }
.setup {
    grid-column: col 4;
    grid-row: row 1 / span 3;
  }
.board{
    grid-column: col 1 / span 4;
    grid-row: row 4;
    //justify-content: center;
    margin: 0 auto;
  }

.hidden{
    visibility: hidden;
  }

.next_button{
    top: 50px;
    left: 50px;
}
